language: node_js
node_js:
  - "8"
env:
  - DOCKER_COMPOSE_VERSION=1.21.0
services:
  - docker

before_install:
  - sudo curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-$(uname -s)-$(uname -m) -o /usr/local/bin/docker-compose
  - sudo chmod +x /usr/local/bin/docker-compose
  - docker-compose version
  - docker version
before_script:
  - sudo ./utils/script_coveralls.sh
  - cd $TRAVIS_BUILD_DIR/Environments/Test
  - sudo docker-compose -f build.yml build

script:
  - sudo docker-compose -f start-login.yml run loginserver npm run coverage
